{
	"extends": ["eslint:recommended", "plugin:jest/recommended", "plugin:react/recommended"],
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": ["compat", "import"],
	"settings": {
		"import/resolver": {
			"node": {
				"paths": [
					"packages/vue-styleguidist/src", 
					"packages/vue-styleguidist/src/client", 
					"node_modules/react-styleguidist/lib/client"
				],
				"extensions": [".ts", ".tsx", ".js", ".d.ts"]
			}
		}
	},
	"rules": {
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"compat/compat": "error",
		"import/no-unresolved": [
			"error",
			{
				"commonjs": true,
				"caseSensitive": true,
				"ignore": ["vue-inbrowser-compiler"]
			}
		],
		"import/export": "error",
		"import/no-named-as-default-member": "error",
		"import/no-mutable-exports": "error",
		"import/no-amd": "error",
		"import/first": ["error", "absolute-first"],
		"import/no-duplicates": "error",
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"import/no-extraneous-dependencies": "error",
		"import/newline-after-import": "error",
		"import/prefer-default-export": "error",
		"import/no-named-default": "error"
	},
	"overrides": [
		{
			"files": ["**/*.ts", "**/*.tsx"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"ecmaVersion": 2018,
				"sourceType": "module"
			},
			"plugins": ["@typescript-eslint"],
			"settings": {
				"import/resolver": {
					"node": {
						"extensions": [".ts", ".tsx", ".js", ".d.ts"]
					}
				}
			},
			"rules": {
				"no-unused-vars": "off",
				"typescript/no-unused-vars": "off"
			}
		},
		{
			"files": ["**/vue-docgen-api/**"],
			"env": {
				"es6": true
			},
			"rules": {
				"compat/compat": "off"
			}
		}
	],
	"globals": {
		"System": false,
		"classes": false,
		"shallow": false,
		"render": false,
		"mount": false,
		"cy": false
	}
}
