node_modules/

.rollup.cache
/.publish/
/coverage/
.DS_Store
Thumbs.db
.idea/
.vscode/settings.json
*.sublime-project
*.sublime-workspace
*.log
*.tsbuildinfo
.nuxt/
/cypress/
test/cypress/screenshots/
test/cypress/videos/

# output of docs build
/docs/dist/
/docs/Examples.md
/docs/docs/docgen-cli.md

# examples build artefacts
/examples/*/dist/

# docs generted using run.cli
/examples/*/docs/components/**/*.md
/examples/*/docs/src/components/**/*.md

# packages resulting of plugin tests
/test/cli-packages/
!/test/cli-packages/.gitkeep

.turbo
