node_modules/


/.publish/
/coverage/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.nuxt/
/cypress/
test/cypress/screenshots/
test/cypress/videos/

# output of docs build
/docs/dist/
/docs/Examples.md

# examples build artefacts
/examples/**/dist/build
/examples/**/dist/css/*.css
/examples/**/dist/index.html

# packages resulting of plugin tests
/test/cli-packages/
!/test/cli-packages/.gitkeep
