node_modules/
/examples/**/styleguide/build
/examples/**/CHANGELOG.md
/examples/**/styleguide/index.html
/.publish/
/coverage/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.eslintcache
.nuxt/
/cypress/
test/cypress/screenshots/
test/cypress/videos/
/docs/dist/
/test/cli-packages/
!/test/cli-packages/.gitkeep
