language: node_js

node_js:
  - 11
  - 10
  - 9

cache: yarn

install:
  - yarn install

# In order to avoid double build on pull requests,
# only build on pushes on master and on pushes on pull requests
branches:
  only:
    - master

script:
  # Run tests without coverage since it's 2x faster
  - yarn test --runInBand

stages:
  - lint
  - test
  - integration
  - name: release
    if: type != pull_request AND branch = master
  - name: documentation
    if: type != pull_request AND branch = master

jobs:
  include:
    - stage: lint
      script:
        - yarn lint
        - npx danger ci

    - stage: integration
      script:
        # Compile JS
        - yarn compile

        # Build all examples
        - yarn build
        - yarn build customised
        - yarn build sections
        - yarn build vuex
        - yarn build nuxtjs
        - yarn build vuetify
        - yarn build vuecli-noplugin
        - yarn build:vuecli3

        # Check that examples really works: no JS errors on load
        - yarn test:browser:pre

        - yarn test:browser basic
        - yarn test:browser customised
        - yarn test:browser sections
        - yarn test:browser vuex
        - yarn test:browser nuxtjs
        - yarn test:browser vuetify
        - yarn test:browser vuecli-noplugin
        - yarn test:browser vuecli3

        # Run integration tests with Cypress
        - yarn test:cypress:pre
        - yarn test:cypress

    - stage: release
      script:
        - yarn compile
        - git config --global author.login "vue-styleguidist-bot"
        - git remote set-url origin "https://${GH_TOKEN}@github.com/vue-styleguidist/vue-styleguidist.git" > /dev/null 2>&1
        - git checkout master
        - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
        - yarn lerna publish --yes

      # Build & Deploy the documentation website
    - stage: documentation
      script:
        - yarn docs:build
      deploy:
        provider: pages
        skip-cleanup: true
        local-dir: docs/dist
        target-branch: master
        repo: vue-styleguidist/vue-styleguidist.github.io
        github-token: $GITHUB_TOKEN # Set in the settings page of your repository, as a secure variable
        keep-history: true
        on:
          branch: master
