language: node_js

# never build when commited by the bot
# + prevent double build on dev -> master Pull Request
if: sender != "vue-styleguidist-bot" AND sender != "Vue Styleguidist Bot" AND (type = pull_request OR branch = master)

cache: yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install

# In order to avoid double build on pull requests,
# only build on pushes on master and on pushes on pull requests
branches:
  only:
    - master
    - dev

stages:
  - test
  - name: documentation
    if: type != pull_request AND branch = master
  - name: release
    if: type != pull_request AND branch = master
  - name: merge-back
    if: type != pull_request AND branch = master

jobs:
  include:
    - stage: test
      script:
        - yarn lint
        # Run tests without coverage since it's 2x faster
        - yarn test:jest --runInBand
        - yarn danger ci

    # Build & Deploy the documentation website
    - stage: documentation
      script:
        - yarn docs:build
        - yarn compile

        # Build all examples
        - cd examples
        - for D in *; do yarn build "${D}"; done

        # Move them to the docs
        - for D in *; do mv "${D}"/dist ../docs/dist/"${D}"; done

      deploy:
        provider: pages
        skip-cleanup: true
        local-dir: docs/dist
        target-branch: master
        repo: vue-styleguidist/vue-styleguidist.github.io
        github-token: $GITHUB_TOKEN # Set in the settings page of your repository, as a secure variable
        keep-history: true
        on:
          branch: master

    - stage: release
      script:
        - yarn compile
        - git config --global user.name "Vue Styleguidist Bot"
        - git config --global user.email "${BOT_EMAIL}"
        - git remote set-url origin "https://${GH_TOKEN}@github.com/vue-styleguidist/vue-styleguidist.git" > /dev/null 2>&1
        - git checkout master
        - git reset --hard
        - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
        - yarn lerna version --yes --github-release
        - yarn lerna publish from-git --yes

    # then merge the whole thing back to dev
    - stage: merge-back
      install: skip # bundle install is not required
      script:
        - git config --global user.name "Vue Styleguidist Bot"
        - git config --global user.email "${BOT_EMAIL}"
        - git remote add github "https://${GH_TOKEN}@github.com/vue-styleguidist/vue-styleguidist.git" > /dev/null 2>&1
        - git fetch github dev
        - git checkout github/dev
        - git checkout -b dev
        - git status -v
        - git merge master -m "chore:master"
        - git branch --set-upstream-to github/dev
        - git push
