version: 2.1

defaults: &defaults
  docker:
    - image: cypress/included:cypress-13.6.6-node-20.11.0-chrome-121.0.6167.184-1-ff-123.0-edge-121.0.2277.128-1
      environment:
        NODE_OPTIONS: '--openssl-legacy-provider'
  working_directory: ~/vue-styleguidist

jobs:
  install:
    <<: *defaults

    steps:
      - checkout
      - restore_cache:
          name: Restore pnpm Package Cache
          keys:
            - v2-vue-styleguidist-{{ checksum "pnpm-lock.yaml" }}

      - run:
          name: Install pnpm package manager
          command: |
            corepack enable
            corepack prepare pnpm@latest-8 --activate
            pnpm config set store-dir .pnpm-store

      - run:
          name: Install Dependencies
          command: |
            pnpm install --ignore-scripts

      - run:
          name: Compile vue-docgen-api
          command: |
            pnpm compile --filter=vue-docgen-api

      - run:
          name: Compile Packages
          command: |
            pnpm compile

      - save_cache:
          name: Save pnpm Package Cache
          key: v2-vue-styleguidist-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - '~/.pnpm-store'
      - persist_to_workspace:
          root: ~/
          paths:
            - vue-styleguidist

  examples-basic:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      # Build all examples
      - run: npm run build basic -- --ci
      - run: npm run build customised -- --ci
      - run: npm run build sections -- --ci
      - run: npm run build vuex -- --ci
      - run: npm run build functional-flag -- --ci

      # Check that examples really works: no JS errors on load
      - run: npm run test:browser basic
      - run: npm run test:browser customised
      - run: npm run test:browser sections
      - run: npm run test:browser vuex
      - run: npm run test:browser functional-flag

  examples-vuecli:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      - run:
          name: Install pnpm package manager
          command: |
            corepack enable
            corepack prepare pnpm@latest-8 --activate
            pnpm config set store-dir .pnpm-store

      - run:
          name: Install Dependencies
          command: |
            pnpm install

      # remake the pnpm link to vue-cli-plugin
      - run: pnpm build vuecli3 -- --ci
      - run: pnpm test:browser vuecli3
      - run: pnpm build vuecli-noplugin -- --ci
      - run: pnpm test:browser vuecli-noplugin
      - run: pnpm build vuecli3-vuetify-ie -- --ci
      - run: pnpm test:browser vuecli3-vuetify-ie

  examples-other:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      # Build all examples
      - run: npm run build jsx -- --ci
      - run: npm run build jsx-examples -- --ci
      - run: npm run build nuxtjs -- --ci
      - run: npm run build vuetify -- --ci
      - run: npm run build docgen-vite

      # Check that examples really works: no JS errors on load
      - run: npm run test:browser jsx
      - run: npm run test:browser jsx-examples
      - run: npm run test:browser nuxtjs
      - run: npm run test:browser vuetify
      - run: npm run test:browser docgen-vite

  cypress:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/

      - run:
          name: Set Cypress record key
          # CircleCi does not allow interpolation in the environment field
          # we have to set the key using a command
          command: |
            echo 'export CYPRESS_RECORD_KEY=$MAIN_RECORD_KEY' >> "$BASH_ENV"

      - run:
          name: Install pnpm package manager
          command: |
            corepack enable
            corepack prepare pnpm@latest-8 --activate
            pnpm config set store-dir .pnpm-store

      - run:
          name: Install Dependencies
          command: |
            pnpm install --ignore-scripts

      - run:
          name: Compile vue-docgen-api
          command: |
            pnpm compile --filter=vue-docgen-api

      - run:
          name: Compile Packages
          command: |
            pnpm compile

      # run cypress vue-styleguidist component tests
      - run:
          command: pnpm exec cypress run --component --record --group ct
          working_directory: packages/vue-styleguidist

      # run cypress prismjs-highlighter component tests
      - run:
          command: pnpm exec cypress run --component --record --group ct-prismjs
          working_directory: packages/vue-inbrowser-prismjs-highlighter

      # run cypress e2e tests
      - run:
          command: pnpm exec start-server-and-test cy:serve http://localhost:6060 "cypress run --e2e --spec \"test/cypress/integration/basic/*.*\" --record --group main"
          environment:
            CY_EXAMPLE_FOLDER: basic
      - store_artifacts:
          path: /root/vue-styleguidist/test/cypress/screenshots
          destination: cy-screenshots-basic

      - run:
          command: pnpm exec start-server-and-test cy:serve http://localhost:6060 "cypress run --spec \"test/cypress/integration/jsx-examples/*.*\"  --e2e --record --group jsx"
          environment:
            CY_EXAMPLE_FOLDER: jsx-examples
      - store_artifacts:
          path: /root/vue-styleguidist/test/cypress/screenshots
          destination: cy-screenshots-jsx

      # run cypress component tests vue3
      - run:
          name: Run Vue 3 component tests for vue-styleguidist
          command: pnpm install:vue3 && pnpm exec cypress run --component --record --group ct-vue3 --config-file packages/vue-styleguidist/cypress.config.vue3.ts

      # run cypress component tests vue3
      - run:
          name: Run Vue 3 component tests for prismjs highlighter
          command: pnpm exec cypress run --component --record --group ct-prismjs-vue3 --config-file packages/vue-inbrowser-prismjs-highlighter/cypress.config.vue3.ts

workflows:
  test:
    jobs:
      - install
      - examples-basic:
          requires:
            - install
      - examples-vuecli:
          requires:
            - install
      - examples-other:
          requires:
            - install
      - cypress:
          requires:
            - install
# VS Code Extension Version: 1.5.1
