{
	"extends": ["plugin:vue/recommended"],
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"rules": {
		"valid-jsdoc": 0,
		"no-console": 0,
		"vue/max-attributes-per-line": 0,
		"vue/html-self-closing": 0,
		"vue/html-indent": ["warn", "tab"]
	}
}
