name: Lint & Test
on:
  pull_request:
    branches: [dev]
  workflow_call:

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Init & Build
        uses: ./.github/actions/build

      - name: Run lint
        run: pnpm lint

      - name: Run unit tests
        run: pnpm test:vitest --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/coverage-final.json

      - name: Run plugin tests
        run: pnpm test:plugin
